:root{
    --main-color:#2e2bff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image:linear-gradient(black,rgb(104, 104, 104)) ;
}
.logo:hover{
    color: var(--main-color);
}
.Ln:hover{
color:wheat ;
}
.slider{
    position: relative;
    width: 100%;
    background-color: black;
}
.myslider{
    height: 752px;
    overflow: hidden;
    display: none;
}
.P ,.N {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
    user-select: none;
}
.P:hover ,.N:hover {
    color: #3498db;
}
.N{
    right: 0;
}
.DB{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.D{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.active, .D:hover{
    border-color: var(--main-color);
}
.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:1.5s;
    animation-duration:1.5s;

}
@-webkit-keyframes fade {
    from{opacity: 0.8;}
    to{opacity: 1;}
}
@keyframes fade {
    from{opacity: 0.8;}
    to{opacity: 1;}
}
 p {
    font-weight: 300;
    color: #fff;
 }
 .banner {
    position: relative;
    width:100% ;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/cc3956d2ee2d864a263acc2ab2d9618f.jpg);
    background-size:cover;
 }
 .banner .content {
     max-width: 900px;
     text-align: center;
 }
 .banner .content h2{
     font-size: 5em;
     color: #fff;
 }
 .banner .content p{
     font-size: 1em;
     color: #fff;
 }
 .btn {
     font-size: 1em;
     color: #fff;
     background:var(--main-color);
     padding: 10px 30px;
     margin-top: 20px;
     display: inline-block;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 2px;
     transition:0.5s ;
 }
 .btn:hover{
     letter-spacing: 6px;
 }
.txt{
    position: absolute;
    color: #FFf;
    letter-spacing: 2px;
    line-height: 35px;
    top: 45%;
    left: 39%;
    -webkit-animation-name:posi;
    -webkit-animation-duration:2s;
    animation-name:posi;
    animation-duration:2s;
    z-index: 1;
}
@keyframes posi {
    form{left:25%;}
    to{left: 15%;}
}
@-webkit-keyframes posi {
    form{left:25%;}
    to{left: 15%;}
}
.txt h1{
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 25px;
}
.txt p{
    font-weight: bold;
    color: white;
    font-size: 25px ;
}
.slider img{
    transform: scale(1.5,1.5);
    -webkit-animation-name:Zoomin;
    -webkit-animation-duration:40s;
    animation-name:Zoomin;
    animation-duration:40s;
}
    @-webkit-keyframes Zoomin {
        form{transform:scale(1,1);}
        to{transform:scale(1.5,1.5);}
    }
@keyframes Zoomin {
    form{transform: scale(1,1);}
    to{transform: scale(1.5,1.5);}
}
 header {
     position:fixed;
     top: 0;
     left: 0;
     width:100%;
     padding: 40px 100px;
     z-index: 10000;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: 0.5s;
 }
 header.sticky {
    background-color: black;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
 }
 header .logo {
    color: #fff;
    font-size:2em ;
    font-weight:700 ;
    text-decoration:none ;
 }
 header.sticky .logo {
     color: #111;
 }
 header.sticky .nav li a {
     color: #fff;
 }
 header .logo span {
     color: var(--main-color);
 }
 header .nav {
     position: relative;
     display: flex;
 }
 header .nav li {
     list-style: none;
     margin-left: 30px;
 }
 header .nav li a {
     text-decoration: none;
     color: #fff;
     font-weight: 300;
 }
 header .nav li a:hover {
     color: var(--main-color);
 } 
 section {
     padding: 100px;
 }
 
 .row {
     position: relative;
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 .row .col50 {
     position: relative;
     width: 48%;
 }
 .titleText {
    color: rgb(158, 158, 158);
    font-weight: 300;
    font-size: 2em;
 }
 .titleText span {
     font-size: 1.5em;
     color: var(--main-color);
     font-weight: 700;
 }
 .row .col50 .imgBx {
     position: relative;
     width: 100%;
     /* min-height:300px ; */
     height: 100%;
 }
 .row .col50 .imgBx img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .menu{
     background-color: rgba(238, 238, 238, 0.452);
 }
 header.sticky .logo {
    color: #fff;
}
 .menu .content {
     display: flex;
     justify-content: center;
     flex-direction: row-reverse;
     flex-wrap: wrap;
     margin-top: 40px;
 }
 .menu .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #a8a8a87a;
    box-shadow: 0 5px 35px rgb(41 45 169 / 81%);
} 
 .menu .content .box .imgBx {
     position: relative;
     width: 100%;
     height: 300px;
 }
 .menu .content .box .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .meun .content .box .text {
     padding: 15px 0 5px;
 }
 .meun .content .box .text h3 {
     font-weight: 400;
     color: #111;
 }
 .expert .content {
     display: flex;
     justify-content: center;
     margin-top: 40px;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .expert .content .box {
     width: 250px;
     margin: 15px;
 }
 .expert .content .box .imgBx {
     position: relative;
     width: 100%;
     height: 300px;
 }
 .expert .content .box .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .expert .content .box .text {
     padding: 15px 0 5px;
 }
 .expert .content .box .text h3 {
     font-weight: 400;
     color: #111;
 }
 .testimonials {
    background: url(/images/d6.jpeg);
    background-size: cover;
 }
 .White .titleText,
 .White p {
     color: #fff;
 }
 .testimonials .content {
     display: flex;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
     margin-top: 40px;
 }
 .testimonials .content .box {
     width: 340px;
     margin: 20px;
     padding: 40px;
       background-color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .testimonials .content .box .imgBx {
     position: relative;
     width: 80px;
     height: 80px;
     margin-bottom: 20px;
     border-radius: 50%;
     overflow: hidden;
 }
 .testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .testimonials .content .box .text {
     text-align: center;
 }
 .testimonials .content .box .text p {
     color: #666;
     font-style: italic;
 }
 .testimonials .content .box .text h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: var(--main-color);
    font-weight: 600;
 }
 .contact {
     background: url(/images/bg3.jpg);
     background-size: cover;
 }
 .contentForm {
     padding: 75px 50px;
     background-color: #fff;
     box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
     max-width: 500px;
     margin-top: 50px;
 } 
 .contentForm h3 {
     color: #111;
     font-size: 1.2em;
     margin-bottom: 20px;
     font-weight: 500;
 }
 .contentForm .input {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
 }
 .contentForm .input input,
 .contentForm .input textarea {
     width: 100%;
     border: 1px solid #555;
     padding: 10px;
     color: #111;
     outline: none;
     font-size: 16px;
     font-weight: 300;
     resize: none;
 }
 .contentForm .input input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: var(--main-color);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.copyrightText{
    padding:8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.copyrightText p {
    color: rgb(255, 255, 255);
}
.copyrightText a{
    color: var(--main-color);
    font-weight: 500;
    text-decoration: none;
}
header.sticky {
    background-color: #464646;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
@media (max-width:991px){
    header,
    header.sticky {
        padding: 10px 20px;
    }
    header .nav {
        display: none;
    }
    header .nav.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        left: 0;
        top: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
    }
    header .nav li {
        margin-left: 0 ;
    }
    header .nav li a {
        font-size: 1.6em;
        color: #111;
        font-weight: 500;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url(/images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
    section {
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }
    .menu {
        background-color: rgb(125 125 125 / 73%);
    }
    .row {
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx {
        height: 300px;
        margin-top: 20px;
    }
    .menu .contact {
        margin-top: 20px;
    }
    .menu .contact .box {
        margin: 10px;
    }
    .menu .content .box .imgBx {
        height: 260px;
    }
    .title {
        text-align: center;
    }
    .titleText {
        color: #c5c5c5;
        font-weight: 300;
        font-size: 2em;
    }
    .titleText {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .testimonials .content .box {
        margin: 10px;
    }
    .contentForm {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media (max-width:480px){
    .banner .contact h2 {
        font-size:2.2em;
        color: #fff;
    }
}